.main_chat
  .main_chat__group-info
    .main_chat__group-info__group
      .main_chat__group-info__group__title
        = @group.name
      %ul.main_chat__group-info__group__menber__list
        Member:
        %li
          - @group.users.each do |user|
            %li.main_chat__group-info__group__menber__list__first
              = user.name
    = link_to edit_group_path(@group), class: "main_chat__group-info__edit" do
      Edit
  
  .main_chat__message-list
    = render @messages

  .main_chat__message-form
    = form_for [@group, @message] do |f|
      .main_chat__message-form__new-message
        .main_chat__message-form__new-message__input-box
          = f.text_field :content, class: "main_chat__message-form__new-message__input-box__input-text", placeholder: "type a message"
          .main_chat__message-form__new-message__input-box__image
            = f.label :image, class: "main_chat__message-form__new-message__input-box__image" do
              = icon('fas' ,'image')
              = f.file_field :image, class: "main_chat__message-form__new-message__input-box__image__file"
          = f.submit "Send", class: "main_chat__message-form__new-message__submit"
