.side_bar
  .side_bar__user-name
    .side_bar__user-name__side-box
      %p.side_bar__user-name__side-box__name
        = current_user.name
      %ul.side_bar__user-name__side-box__menu
        %li
          = link_to new_group_path, class: "side_bar__user-name__side-box__menu__new_group_btn" do
            %i.far.fa-edit
        %li
          = link_to edit_user_path(current_user), class: "side_bar__user-name__side-box__menu__edit_btn" do
            %i.fa.fa-cog
  
  .side_bar__group-list
    - current_user.groups.each do |group|
      .side_bar__group-list__link
        .side_bar__group-list__link__group
          = link_to group_messages_path(group) do
            %p.side_bar__group-list__link__group__title
              = group.name
            %p.side_bar__group-list__link__group__last-message
              = group.show_last_message